@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Inter:wght@500;600;700;800&family=Pacifico&family=Sarabun:ital,wght@0,100;0,400;0,500;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

/* Footer  */
