
.main-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card-details{
  border: 1px solid grey;
  width: 250px;
  height: 230px;
   display: flex;
   flex-direction: column;

  }